@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-blur {
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(6px);
}

/* Forcer le style mobile du widget OpenPro même en desktop */
/*@media (min-width: 768px) {
    #widget-produit-OSCH-61770 .OsPlanningDatePicker {
        flex-direction: column !important;
        align-items: stretch !important;
        max-width: 669px !important;
        margin: 0 auto !important;
    }

    #widget-produit-OSCH-61770 select,
    #widget-produit-OSCH-61770 .DateSelect,
    #widget-produit-OSCH-61770 .PlanningEntete {
        width: 100% !important;
        max-width: 100% !important;
    }

    #widget-produit-OSCH-61770 .ui-datepicker {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* Optionnel : centrer le bouton "Réserver" 
    #widget-produit-OSCH-61770 .BtnReserver {
        align-self: center !important;
    }
}*/